@import url('https://fonts.googleapis.com/css?family=Bebas Neue:400');

/************************ header and footer styling*********/

header, footer {
    text-align: center;
    font-family: bebas neue;
    background-color: rgb(3, 3, 61);
    color: darkgrey;
    border: solid;
    border-radius: 15px;
    font-size: 150%;
}

header h1 {
    font-size: 200%;
    color: darkgrey;
    padding-top: 10px;
}

/***********navigation and socials styling**************/

#navigation  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
   display: inline;
}

#socials {
    
}

/*********************main image and main quote styling*******/

#main-image {
    height: 600px;
    width: 100%;
    background: url(/assets/images/ZEUS\ 4.0.jpg) no-repeat center center;
    opacity: 0.7;
    
}

#image-behind {
    position: relative;
}

#cover-quote {
    position: absolute;
    bottom: 30px;
    right: 650px;
}

#cover-quote h2 {
    font-family: bebas neue;
    text-align: center;
    color: rgb(3, 3, 61);;
}