@import url('https://fonts.googleapis.com/css?family=Bebas Neue:400');

/************************ header and footer styling*********/

header, footer {
    text-align: center;
    font-family: bebas neue;
    background-color: rgb(3, 3, 61);
    color: darkgrey;
    border: solid;
    font-size: 150%;
    padding-top: 6.1px;
}

header h1 {
    font-size: 200%;
    color: darkgrey;
    margin: 0;
}

header h1:hover {
    color: crimson;
}

/***********navigation and socials styling**************/

#navigation  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: inline;
}

#navigation a {
    color: darkgrey;
}

#navigation a:hover {
    color: crimson;
}

#socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#socials li {
    display: inline;
}

#socials i {
    color: darkgrey;
}

#socials i:hover {
    color: crimson;
}

/*********************main image and main quote styling*******/

#main-image {
    height: 600px;
    width: 100%;
    background: url(/assets/images/ZEUS\ 4.0.jpg) no-repeat center center;
    opacity: 0.7;
    border: solid;
    border-color: darkgrey;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#image-behind {
    position: relative;
    height: 557px;
    width: 100%;
    overflow: hidden;
}

@keyframes image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

#cover-quote {
    position: absolute;
    bottom: 30px;
    right: 650px;
}

#cover-quote h2 {
    font-family: bebas neue;
    color: rgb(3, 3, 61);
    opacity: 0.7;
    margin: 0;
    width: 100%;
    padding: 0;

    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/**************facilities page main content styling*************/

#gym {
    position: absolute;
    bottom: 300px;
    left: 100px;
    width: 25%;
    font-family: bebas neue;
    color: darkgrey;
    text-align: center;
    font-size: 120%;
}

.gym {
    background-image: url(../images/GYM.jpg);
    background-repeat: no-repeat; 
    background-size: 450px 175px;
    border-radius: 15px;
}

#strength {
    position: absolute;
    bottom: 225px;
    right: 100px;
    width: 25%;
    font-family: bebas neue;
    color: darkgrey;
    text-align: center;
    font-size: 120%;
}

.strength {
    background-color: darkgrey;
    opacity: 0.7;
    background-image: url(../images/S&C\ ROOM.jpg);
    background-repeat: no-repeat; 
    background-size: 450px 200px;
    border-radius: 15px;
}

#recovery {
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: 25%;
    font-family: bebas neue;
    color: darkgrey;
    text-align: center;
    font-size: 120%;
}

.recovery {
    background-color: darkgrey;
    opacity: 0.7;
    background-image: url(../images/RECOVERY\ ROOM\ IMAGE.jpg);
    background-repeat: no-repeat; 
    background-size: 450px 250px;
    border-radius: 15px;
}

/*****************sign up form styling********/

.form {
    position: absolute;
    bottom: 80px;
    text-align: center;
    margin: 0;
    width: 25%;
    padding: 5px;
    background-color: darkgrey;
    left: 37%;
    border-style: solid;
    border-color:  rgb(3, 3, 61);
    border-radius: 15px;
}

.label {
    font-family: bebas neue;
    color:  rgb(3, 3, 61);
    font-size: 120%;
    letter-spacing: 0.5px;
}

#age {
    font-family: bebas neue;
    color:  rgb(3, 3, 61);
}

#submit {
    font-family: bebas neue;
    color: rgb(3, 3, 61);
    font-size: 120%;
    margin-top: 10px;
}

#submit:hover {
    background-color: crimson;
}

form input {
    width: 50%;
    opacity: 0.9;
    border-color: rgb(3, 3, 61);
    font-family: bebas neue;
}

form p {
    font-family: bebas neue;
    color: rgb(3, 3, 61);
    letter-spacing: 0.5px;
    padding-top: 5px;
}